---
import ComingSoon from "../components/ComingSoon.astro";
---

<html>
  <head>
    <title>Technolgap</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Empowering women and non-binary individuals in Canada's tech industry through opportunities and community support."
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <body>
    <ComingSoon/>
  </body>
</html>
