---
import PageLayout from "../layouts/PageLayout.astro";
import TextBox from "../components/TextBox.astro";
---

<PageLayout title="Tickets">
    <article class="our-team classic-bg">
        <h2>Tickets</h2>
        <div class="rows">
            <TextBox heading="Basic" text="$50" className="tickets" />
            <TextBox heading="VIP" text="$80" className="tickets" />
        </div>
        <TextBox heading="APPLY HERE" className="apply-here"/>  
    </article>
</PageLayout>

<style>
    h2 {
        font-size: 50px;
        color: #5A6160;
        margin-top: 90px;
        margin-bottom: 2rem;
        text-shadow: 0px 2px 2px #7f7f7f;
        padding: 0 20px;
        text-align: center;
        position: relative;
    }
    .rows {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
        margin-bottom: 35px;
    }
    :global(.tickets .heading) {
        min-width: 250px;
        background-color: #5A6160 !important;
        border-radius: 20px !important;
    }
    :global(.apply-here .heading) {
        min-width: 50px;
        max-height: 20px;
        background-color: #5A6160 !important;
        border-radius: 20px !important;
        box-shadow: 7.5px 7.5px 0px #f7deed;
    }
    :global(.tickets .highlight) {
        font-size: 20px !important;
    }
    :global(.apply-here .highlight) {
        font-size: 16px !important;
    }
    @media (max-width: 800px) {
        .rows {
            flex-direction: column;
            align-items: center;
        }
    }
</style>