---
import PageLayout from '../layouts/PageLayout.astro';
import ContactForm from '../components/ContactForm.astro';
---


<PageLayout title="Contact Us!">
   <main>
       <h1>Contact Us</h1>
   <ContactForm />
   </main>
</PageLayout>


